.login-container {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    
}
.left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right{
    width: 50%;
    height: 100%;
}
.left img {
    width: 50%;
    min-width: 300px;
}
